.ss-header {
  margin: 0 auto;
  position: relative;
  z-index: 100;
  background: white;
  text-decoration-color: black;
  font-weight: 700;
  font-style: initial; 
  display: flex;
  flex-direction: row;
}

.ss-header .ss-title {
  width: 25vw;
}

.ss-header .ss-banner-text {
  width: 75vw;
}

.ss-2header {
  position: fixed;
  max-width: 960;
  margin: auto;
  padding: 6px;
  background: blue;
  align-items: center;
}

