.ss-header{
 display: flex;
}


.ss-container{
 flex-direction: row;
 display: grid;
 font-size: 17px;
}


.ss-navb {
  margin: 0 auto;
  position: relative;
  z-index: inherit;
  background: bisque;
  font-weight: 900;
  font-style: revert; 
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

@media (min-width: 720px){
  .ss-container{
    padding-left: 15px;
    padding-right: 15px; 
  }
}


.ss-header .ss-title {
  width: 35vw;
  text-decoration-color: black;
  font-family: algerian;
  font-size: x-large;
}

.ss-header .ss-banner-text {
  width: 85vw;
  font-family: Georgia, Times, serif;
 text-decoration-color: rgb(120, 176, 240);
 font-size: x-large;
 font-style: italic;
  color: purple;
 background-color: #d8da3d;
}

.ss-image{
  margin-left: 530px;
  color: #fff;
}
.ss-image #light{
  font-family: algerian;
}


.ss-2header {
  max-width: 960px;
margin: 40px;
display: flex;
padding: 12px;
font-family: initial;
text-transform: uppercase;
background: lightyellow;
grid-column: span 1;
transition: 0.2s ease-in-out;
letter-spacing: 2px;
color: #fff;
text-shadow: 0 1px 1px rgba(0,0,0,0.4);
border-radius: 50px;
justify-content: center;
font-weight: bold;
}

.ss-2header a {
  font-size: 0.975rem;
  margin-right: 20px;
  color: black;
  text-decoration: none;
  text-decoration-color: aquamarine
}
.ss-body {
  border-style: double;
  border-width: thin;
  display: flex;
  flex-direction: row;
  background: lightblue;
  margin: 0 90px;
  justify-content: space-evenly;
}

.ss-2header a:hover{
  background: tomato;
}

.sparrowsclassfull-text {
       display: flex;
       align-items: center;
       justify-content: center;
       min-height: calc(100vh - 51px);
       width: 100%;
   }
   .sparrowsclassfull-text > p {
         font-size: 1.5rem;
         font-weight: 300;
         line-height: 1.5;
         color: #606f7b;
         margin: 2rem;
         text-align: center;
     }
     @media (min-width: 720px) {
      .sparrowsclassfull-text > p {
               font-size: 1.875rem;
           }
       }
       .ss-schoolform-row {
        text-align: center;
        color: aqua;
        text-transform: uppercase;
    }
      .ss-schooltable{
        display: block;
        overflow-x: auto;
        width: 70%;
        margin-top: 1rem;
      }
      .ss-schooltable table{
        background: aliceblue;
        margin-left: auto;
         flex-direction:column;
        align-items: center;
       border-collapse: collapse;
        width: 70%;
        margin-top: 2rem;
        margin-bottom: 1rem;
        white-space: nowrap;
      }

      .ss-schooltable table th
      .ss-schooltable table td{
        border-top: 1px solid #999;
        padding: 0.75rem;
      }
      .ss-schooltable table thead th {
        border-bottom: 2px solid #999;
        text-align: left;
        background-color: rgba(0, 0, 0, 0.075);
        font-style: italic;
        color: brown;
    }
      .ss-schooltable table tbody td:hover{
        background-color: wheat;
      }
      .ss-link{
        color: #1a0dab;
        cursor: pointer;
        text-decoration: underline;
      }